

/*******FONTS*******/
.atkinson-hyperlegible-regular {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 400;
    font-style: normal;
}

.atkinson-hyperlegible-bold {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 700;
    font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 400;
    font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 700;
    font-style: italic;
}

.sarina-regular {
    font-family: "Sarina", serif;
    font-weight: 400;
    font-style: normal;
  }  

/*******ELEMENTS*******/
body {
    background-color: #3E2B14;
    color: #FCE7C5;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

nav {
    background-color: #3E2B14;
}

a.active {
    text-transform: uppercase;
}

/*******CLASSES*******/
.navbar {
    /* padding: .5rem 1rem; */
    padding: .5rem 6rem;
  }
  
.nav-item, .navbar-brand {
    color: #FCE7C5
}

/* Need to overwrite Bootstrap default size so we can make the "brand" bigger */
.navbar-brand {
    font-size: 2.5rem;
}


.row {
    /* background-color: #FCE7C5; */
    /* color: #3E2B14; */
    color: #FCE7C5;
    font-family: "Atkinson Hyperlegible", 'serif';
    margin: 2rem;
    padding: 2rem;
  }

.col {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row>.col>.row {
    margin: 0;
}

.polaroid {
    background-color: #FFFFFF;
    padding: 1rem;
    color: #3E2B14;
    position: relative;
    height: 100%;
}

.polaroid-img {
    position: relative;
}
.polaroid-description {
    padding: 1rem;
    margin-bottom: 0;
    
}

.polaroid:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(to bottom right, #FF4D65CC, #FF9C63CC, #FFE26CCC);
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Put these first, these will apply to all even / odd divs that are row children of the container div class*/
.container>.row:nth-child(even) {
    border-radius: 1rem 0 0 1rem;
    box-shadow: 
        -1rem 0 0 1rem #FFE26C, 
        -2rem 0 0 2rem #FF9C63, 
        -3rem 0 0 3rem #FF4D65;
    margin-top: 0;
    margin-bottom: 3rem;
}

.container>.row:nth-child(odd) {
    border-radius: 0 1rem 1rem 0;
    box-shadow: 
        1rem 0 0 1rem #FF4D65, 
        2rem 0 0 2rem #FF9C63, 
        3rem 0 0 3rem #FFE26C;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/*These must be defined AFTER the above, as they are "special" cases*/

/*These stripes used this blog post as guidance for making the stripes on the first and last divs:
https://nicolasgallagher.com/multiple-backgrounds-and-borders-with-css2/demo/borders.html 
*/
.container>.row:last-child {
    position: relative;
}

/*If the last .row on the page is an even n, then the stripe should go off to the right*/
.container>.row:last-child:nth-child(even)::after {
    content: "";
    display: block;
    position: absolute;
    right: -50%;
    width: 150%;
    border-top: 1rem solid #FFE26C;
    border-bottom: 1rem solid #FF4D65;
    background: #FF9C63;
    height: 3rem;
    bottom: -3rem;
  }

/*If the last .row on the page is an odd n, then the stripe should go off to the left*/
.container>.row:last-child:nth-child(odd)::after {
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 150%;
    border-top: 1rem solid #FF4D65;
    border-bottom: 1rem solid #FFE26C;
    background: #FF9C63;
    height: 3rem;
    bottom: -3rem;
  }

.container>.row:first-child {
    position: relative;
}

.container>.row:first-child::before {
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 150%;
    border-top: 1rem solid #FFE26C;
    border-bottom: 1rem solid #FF4D65;
    background: #FF9C63;
    height: 3rem;
    top: -3rem;
}

.headshot {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.palette {
    width: 100px;
    height:100px;
}

#preview {
    height: 25rem;
    background-image: url("../img/portfolio/swervesbar/swervesbarfinal.png");
    background-size: 100%;
    background-position: 50% 50%;
}

.sketch {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 50% 0%;
}

.row>.col>.row {
    margin: 0;
    padding: 0.5em;
}


  