

/*******FONTS*******/
.atkinson-hyperlegible-regular {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 400;
    font-style: normal;
}

.atkinson-hyperlegible-bold {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 700;
    font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 400;
    font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 700;
    font-style: italic;
}

.sarina-regular {
    font-family: "Sarina", serif;
    font-weight: 400;
    font-style: normal;
  }  

/*******ELEMENTS*******/
body {
    background-color: #3E2B14;
}

nav {
    background-color: #3E2B14;
}

a.active {
    text-transform: uppercase;
}

/*******CLASSES*******/
.navbar {
    /* padding: .5rem 1rem; */
    padding: .5rem 6rem;
  }
  
.nav-item, .navbar-brand {
    color: #FCE7C5
}

/* Need to overwrite Bootstrap default size so we can make the "brand" bigger */
.navbar-brand {
    font-size: 2.5rem;
}

@media (min-width: 1200px) {
    .container{
        max-width: 80%;
    }
}

.row {
    background-color: #FCE7C5;
    color: #3E2B14;
    font-family: "Atkinson Hyperlegible", 'serif';
    margin: 2rem;
    padding: 2rem;
  }

.row>.col>.row {
    margin: 0;
}

/*******IDs*******/

/*Put these first, these will apply to all even / odd divs that are row children of the container div class*/
.container>.row:nth-child(even) {
    border-radius: 1rem 0 0 1rem;
    box-shadow: 
        -1rem 0 0 1rem #FFE26C, 
        -2rem 0 0 2rem #FF9C63, 
        -3rem 0 0 3rem #FF4D65;
    margin-top: 0;
    margin-bottom: 3rem;
}

.container>.row:nth-child(odd) {
    border-radius: 0 1rem 1rem 0;
    box-shadow: 
        1rem 0 0 1rem #FF4D65, 
        2rem 0 0 2rem #FF9C63, 
        3rem 0 0 3rem #FFE26C;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/*These must be defined AFTER the above, as they are "special" cases*/

/*These stripes used this blog post as guidance for making the stripes on the first and last divs:
https://nicolasgallagher.com/multiple-backgrounds-and-borders-with-css2/demo/borders.html 
*/
.container>.row:last-child {
    position: relative;
}

/*If the last .row on the page is an even n, then the stripe should go off to the right*/
.container>.row:nth-last-child(1):nth-child(even)::after {
    content: "";
    display: block;
    position: absolute;
    right: -50%;
    width: 150%;
    border-top: 1rem solid #FFE26C;
    border-bottom: 1rem solid #FF4D65;
    background: #FF9C63;
    height: 3rem;
    bottom: -3rem;
  }

/*If the last .row on the page is an odd n, then the stripe should go off to the left*/
.container>.row:nth-last-child(1):nth-child(odd)::after {
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 150%;
    border-top: 1rem solid #FF4D65;
    border-bottom: 1rem solid #FFE26C;
    background: #FF9C63;
    height: 3rem;
    bottom: -3rem;
  }

.container>.row:first-child {
    position: relative;
}

.container>.row:first-child::before {
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 150%;
    border-top: 1rem solid #FFE26C;
    border-bottom: 1rem solid #FF4D65;
    background: #FF9C63;
    height: 3rem;
    top: -3rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.row>.col>.row {
    margin: 0;
    padding: 0.5em;
}
/*makes the stripes start at the top of the first div */
/* .container>.row:first-child {
    border-radius: 0 1rem 1rem 0;
    box-shadow: 
        1rem 0.5rem 0 0.5rem #FF4D65, 
        2rem 1rem 0 1rem #FF9C63, 
        3rem 1.5rem 0 1.5rem #FFE26C;
    margin-bottom: 3rem;
    margin-top: 0;
} */

  