


.atkinson-hyperlegible-regular {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 400;
    font-style: normal;
}

.atkinson-hyperlegible-bold {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 700;
    font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 400;
    font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 700;
    font-style: italic;
}

.sarina-regular {
    font-family: "Sarina", serif;
    font-weight: 400;
    font-style: normal;
  }  

nav {
    background-color: #3E2B14;
}

.navbar {
    /* padding: .5rem 1rem; */
    padding: .5rem 6rem;
  }
  
.nav-item, .navbar-brand {
    color: #FCE7C5
}

/* Need to overwrite Bootstrap default size so we can make the "brand" bigger */
.navbar-brand {
    font-size: 2.5rem;
}

.row {
    background-color: #FCE7C5;
    color: #3E2B14;
    font-family: "Atkinson Hyperlegible", 'serif';
    margin: 2em;
    padding: 2em;
  }

.row>.col>.row {
    margin: 0;
}

  