


.atkinson-hyperlegible-regular {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 400;
    font-style: normal;
}

.atkinson-hyperlegible-bold {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 700;
    font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 400;
    font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
    font-family: 'Atkinson Hyperlegible', serif;
    font-weight: 700;
    font-style: italic;
}

.sarina-regular {
    font-family: "Sarina", serif;
    font-weight: 400;
    font-style: normal;
  }  


body {
    background-color: #3E2B14;
}

nav {
    background-color: #3E2B14;
}

.navbar {
    /* padding: .5rem 1rem; */
    padding: .5rem 6rem;
  }
  
.nav-item, .navbar-brand {
    color: #FCE7C5
}

/* Need to overwrite Bootstrap default size so we can make the "brand" bigger */
.navbar-brand {
    font-size: 2.5rem;
}

.row {
    background-color: #FCE7C5;
    color: #3E2B14;
    font-family: "Atkinson Hyperlegible", 'serif';
    margin: 2rem;
    padding: 2rem;
  }

.row>.col>.row {
    margin: 0;
}

#about {
    position: relative;
    z-index: 1;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 
        1rem 0.5rem 0 0.5rem #FF4D65, 
        2rem 1rem 0 1rem #FF9C63, 
        3rem 1.5rem 0 1.5rem #FFE26C;
    margin-bottom: 3rem;
    margin-top: 0;
}

#resume {
    border-radius: 1rem 0 0 1rem;
    box-shadow: 
        -1rem 0 0 1rem #FFE26C, 
        -2rem 0 0 2rem #FF9C63, 
        -3rem 0 0 3rem #FF4D65;
    margin-top: 0;
    margin-bottom: 3rem;
}

#portfolio {
    border-radius: 0 1rem 1rem 0;
    box-shadow: 
        1rem 0 0 1rem #FF4D65, 
        2rem 0 0 2rem #FF9C63, 
        3rem 0 0 3rem #FFE26C;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

#contact {
    position: relative;
    z-index: 1;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 
        -1rem -0.5rem 0 0.5rem #FFE26C, 
        -2rem -1rem 0 1rem #FF9C63, 
        -3rem -1.5rem 0 1.5rem #FF4D65;
    margin-bottom: 3rem;
    margin-top: 0;
}



  